<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%yellow(%d{HH:mm:ss.SSS}) %highlight(%-5level) %green([%thread]) %cyan(%logger{50}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.streams" level="debug"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>